# Jupyter Requirements
ipykernel==6.5.0
ipywidgets
jupyterlab==3.2.2

# For Graphing
matplotlib==3.4.3
numpy==1.21.4
matplotlib-label-lines==0.4.3

# For Visualizing Data
tabulate == 0.8.9

# Tests
coverage==6.2
